@import "_variables.scss";

/** Text **/
body {
  font-family: 'Cairo', sans-serif;
  color: $light;
  background-color: $deep-space-sparkle;
}
a {
  color: $light;
  text-decoration: none;
  &:hover {
    color: $yankees-blue;
  }
}
