@import "_variables.scss";
.carousel-container {
  padding-top: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel {
  width: 75%;
  display: inline-flex;
  justify-content: center;
}

/** XS **/
@media (max-width: 576px) {}

/** SM **/
@media (min-width: 577px) and (max-width: 767px) {}

/** MD **/
@media (min-width: 768px) and (max-width: 992px) {}