@import "_variables.scss";
.carousel-container {
  padding-top: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .carousel {
    width: 300px;
    height: 100%;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .carousel-links {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    min-width: 50px;
    .chevron {
      &:hover {
        color: $yankees-blue;
        cursor: pointer;
      }
    }
    .chevron::before {
      border-style: solid;
      border-width: 0.25em 0.25em 0 0;
      content: '';
      display: inline-block;
      height: 0.45em;
      left: 0.15em;
      position: relative;
      top: 0.15em;
      transform: rotate(-45deg);
      vertical-align: top;
      width: 0.45em;
    }
    .chevron.left:before {
      left: 0;
      transform: rotate(-135deg);
    }
    .chevron.right:before {
      right: 0;
      transform: rotate(45deg);
    }
  }
}

/** XS **/
@media (max-width: 576px) {
  .carousel-container {
    .carousel-links {
      margin-top: 0;
    }
  }
}

/** SM **/
@media (min-width: 577px) and (max-width: 767px) {}

/** MD **/
@media (min-width: 768px) and (max-width: 992px) {}