@import "_variables.scss";
.carousel-container {
  padding-top: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .carousel {
    width: 300px;
    height: 100%;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .carousel-links {
    margin-top: 1em;
    img {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

/** XS **/
@media (max-width: 576px) {
  .carousel-container {
    .carousel-links {
      margin-top: 0;
    }
  }
}

/** SM **/
@media (min-width: 577px) and (max-width: 767px) {}

/** MD **/
@media (min-width: 768px) and (max-width: 992px) {}