@import "_variables.scss";

.details-container {
  margin-top: 100px;
  padding: 0 15px;
  .breadcrumb {
    padding: 1em;
  }
  .selected-planet {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
  }
  .list-container {
    flex: 1 1 auto;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    .planet-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin-top: 2em;
      .planet-item {
        padding: 0 1em;
        z-index: 0;
        img {
          &:hover {
            opacity: 0.25;
            background-color: $outer-space;
          }
        }
      }
    }
    .selected-planet-details {
      margin-top: 2em;
      margin-bottom: 200px;
    }
  }
}

