@import "_variables.scss";

.details-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: $outer-space;
  display: flex;
  align-items: center;
  justify-content: center;
  .details-title {
    text-align: center;
  }
}
.details-container {
  margin-top: 100px;
  padding: 0 15px;
}

